.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    margin-bottom: 0 !important;
    z-index: 1;
    border-radius: 0px;
}

.navItem {
    z-index: 3;
}

.navbar.brand {
    color: white;
}