.trip-dash {
    width: 80%;
    min-height: 40vh;
    max-height: 86vh;
    overflow: auto;
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 50px;
    background-color: white;
}

.trip-dash-h3 {
    display: inline;
}

.trip-dash-header {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.add-trip {
    float: right;
    color: blue;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 3em;
    font-weight: bold;
}

.add-trip:hover {
    text-decoration: none;
    color: rgb(132, 132, 255);
}